name: Generate Profile Assets

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: mohdhd
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Generate Stats Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: mohdhd
          BRANCH_NAME: output
          UTC_OFFSET: 3
          AUTO_PUSH: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Move stats to dist
        run: |
          sudo chown -R $USER:$USER dist/
          cp -r profile-summary-card-output dist/

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
